<div class="contents-post">
  <h3><p><%= @nickname %>さんの投稿一覧</p>
  <div class="post-item">
  <% @photos.each do |photo| %>
    <%= link_to photo_path(photo.id) do %>
      <li><%= image_tag photo.image.variant(resize: '400x400', gravity: "center", crop: "300x300+0+0" ) if photo.image.attached? %></li>
      <li><%= photo.name %></li>   
    <% end %>
  <% end %>
</div>