<section class="wrapper">
  <div class="container">
    <div class="content">
      <h2 class="heading2">MESSAGE</h2>
      <p>テキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div>
  </div>
</section>

<section class="wrapper2">
  <div class="container3">
    <div class="content2">
      <div class="content2-item">
        <img src="/assets/publicdomainq-0003144gjh.jpeg" class="image">
      </div>    
      <div class="content2-item">
        <div class="text">
          <h2 class="heading2"><a href="/photos/new">投稿する  ▶︎</a></h2>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="wrapper3">
  <div class="container3">
    <div class="content3">
      <div class="content3-item">
        <img src="/assets/HI75_minatokunobiru_TP_V.jpeg" class="image">
      </div>    
      <div class="content3-item">
        <div class="text">
          <h2 class="heading2"><a href="/searches/new">検索する  ▶︎</a></h2>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          </div>
        </div>
      </div>
  </div>
</section>

<h2 class="wrapper4">新規投稿一覧</h2>
  <div class="photo-item">
    <% @photos.each do |photo| %>
      <%= link_to photo_path(photo.id) do %>
        <li><%= image_tag photo.image.variant(resize: '400x400', gravity: "center", crop: "300x300+0+0" ) if photo.image.attached? %></li>
        <li><%= photo.name %></li>   
      <% end %>
  <% end %>
</div>

