
<div class="contents-new">
  <div class="container-new">
    <h1>検索結果</h1>
      <% @results.each do |result| %>
        <%= link_to photo_path(result) do %>
        <%= image_tag result.image.variant(resize: '400x400') %>
        <%= result.name %> 
        <% end %>
      <% end %>
  </div>
</div>      