
<div class="contents-new">
  <h1>検索結果一覧</h1>
  <div class="photo-item">
    
    <% @photos.each do |photo| %>
      <tr>
        <li><%= image_tag photo.image.variant(resize: '400x400', gravity: "center", crop: "300x300+0+0" ) if photo.image.attached? %></li>
        <td><%= photo.name %></td>
      </tr>
    <% end %>
    <% if @photos.size == 0 %>
      <h1><p>一致した作品はありませんでした</p>
    <% end %>
  </div>
  
</div>      