<div class="contents-new">
  <h1><%= @photo.name %></h1>
  <div class="container-new">
    <%= image_tag @photo.image.variant(resize: '400x400', gravity: "center", crop: "300x300+0+0" ) %>
  </div>
</div>
