/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  height: 120px;
  background-color: #f0f0f0;
  text-align: center;
}

header .headline{
  line-height: 50px;
  font-size: 30px;
}

.navbar {
  font-weight: bolder;
  font-size: large;
}

.nav-lists {
  display: inline-block;
  margin: 0 20px;
}


/* container */
.wrapper{
  width:100%;
  padding: 130px 0px ;
  background-image: url('fukei43l.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.container{
  margin:0px auto;
  padding:80px 0px;
  height: 100%;
  background: rgba(255,255,255,0.5);
}
/* content */
.content {
  padding:50px;
  text-align:center;
}
.heading2{
  font-size: 36px;
  margin:0px 0px 40px 0px;
  font-weight: bolder;
  text-align: center;
  
}

.wrapper2{
  width:100%;
  padding: 60px 0px;
}
.container2{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .content2 {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

@media (min-width: 992px) {
  .content2 {
      flex-direction:row-reverse;
  }
}
.content2-item {
  
  width:100%;
}
@media (min-width: 992px) {
  .content2-item {
      width:50%;
  }
}
.image{
  display:block;
  max-width:100%;
  margin:0px auto;
}
.text{
  padding:50px;
}

.wrapper3{
  width:100%;
  padding: 60px 0px;
  background-color: #fafafa;
}
.container3{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .content3 {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
.content3-item {
  width:100%;
}
@media (min-width: 992px) {
  .content3-item {
      width:50%;
  }
}
.image{
  display:block;
  max-width:100%;
  margin:0px auto;
}
.text{
  padding:50px;
}

@media (min-width: 992px) {
  .content2 {
      flex-direction:row-reverse;
  }
}

a {
  text-decoration: none;
  color: black;
}

.contents-new{
  padding: 130px;
  text-align: center;
  background-image: url('fukei43l.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

form input,
form textarea {
  width: 25%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: royalblue;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.contents-new2{
  padding: 260px 0px;
  text-align: center;
  background-image: url('fukei43l.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper4{
  width: 100%;
  text-align: center;
  font-size: 36px;
  
  
  
}

.post-item{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;

  
}




.nav-lists2{
  border-radius: 20px;
  border: 0;
  font-size: 18px;
  text-align: center;
}

.footer{
  width: 100%;
  height: 100ox;
  background-color: #f0f0f0;
  position: fixed;
  bottom: 0px;
}

.contents-post{
  padding: 130px;
  text-align: center;
  flex-wrap: wrap;
  background-image: url('fukei43l.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.headline{
  font-family: 'Sacramento', cursive;
}

.wrapper4{
  width:100%;
  padding: 130px 0px;
  
}

.post-item2{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap; 
  padding: 0px 0px 50px;
}
.wrapper5{
  height: 200px;
  background-image: url('fukei43l.jpeg');
}






















